/5_Applicativo/CollezioneGiochi/nbproject/private/
/5_Applicativo/CollezioneGiochi/build/
/5_Applicativo/CollezioneGiochi/build/classes/collezionegiochi/resources/chiave_API.txt
/5_Applicativo/CollezioneGiochi/src/collezionegiochi/resources/chiave_API.txt
/5_Applicativo/CollezioneGiochi/src/collezionegiochi/Config.java